body{
	margin: 0;
	padding: 0;
	background:#ff5c40;
}
.icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80px;
	height: 80px;
	cursor: pointer;
	background: #000;
}
.hamberg{
	width: 50px;
	height: 6px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition:.5s;
}
.hamberg:before,
.hamberg:after{
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}
.hamberg:before{
	top:-16px;
}
.hamberg:after{
	top: 16px;
}