body
{
	margin: 0px;
}
.first h1{
	color:white;
	font-weight: 1;
	margin-top: 0px;
	margin-left: 40px;
	font-size: 24px;
	padding-top: 9px;
	font-family: 'Courgette', cursive;
	width: 30px;

}
.first ul{
	display: flex;
	list-style-type: none;
	margin-left: 50px;
}
.first ul li{
	color: white;
	margin-left: 35px;
	font-size: 15px;
	font-family: sans-serif;
	color: #999;
	font-weight: bold;
}
.first
{
	background: #000;
	height: 8vh;
	width: 100%;
	display: flex;
}
.p1
{
	font-size: 18px;
	color: #757575 ;
	display: inline-flex;
    padding-left: 585px;
}
.second{
	background:#E9E6DF;/* #FFD292;*/
	height: 59vh;
	display: flex;
	padding-top: 40px;
	padding-left: 140px;
	padding-right: 140px;
}
.second h1{
	font-family: sans-serif;
	color: #d1553b;
	margin-top: 10%;
	font-size:3rem;
	line-height: 1;
	font-weight: bold;
	letter-spacing: -1.0px;
	margin-bottom: 0px;
}
.second p{
	color:#887a5d;
	font-size: 1.25rem;
	vertical-align: baseline;
	font-family: sans-serif;
	margin-bottom: 30px;
	margin-top: 10px;
}
.second img{
	height:230px;
	width:230px;
	float: right;
	margin-top: 3vh;
	margin-right: 40px;
	margin-left: 20px;
	border-radius: 130px;
	border: 5px solid #99999991;
}
.second .text{
	width:60%;
}
.second .text a{
	text-decoration: none;
	color: white;
	background: #ea4c89;
	padding: 10px 15px 11px;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 16px;
	/*font-weight: 200;*/
	letter-spacing: 0.02em;
}

.toggle,.git{
	display: none;
}
.toggleul{
	background: black;
	color: black;
	margin: 0px;
	padding: 0px;
	transition: .5s;
	list-style-type: none;
	overflow: hidden;
	height: 0px;
}
.toggle2{
height: 130px;
padding: 30px;
color: white;
}

.toggleul li{
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-family: sans-serif;
	font-size: 18px;
	letter-spacing: 1.5px;
}
@media (max-width: 880px){
.first ul{
	display: none;
}
.first {
	justify-content: space-between;
}
.second{
	flex-direction: column-reverse;
	padding: 0px 10%;
	padding-top: 10%;
	height: 70vh;
}
.second img{
	height:200px;
	width:200px;
}
.second .text{
	width: 100%;
	text-align: center;
}
.imgcover{
	display: flex;
	justify-content: space-around;
}
.second .text h1{
	font-size: 1.5rem;
}
.second .text p{
	font-size: 1rem;
}
.acover{
	height: 70px;
}
.toggle{
	padding: 17px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.toggle .span{
	width: 30px;
	height: 3px;
	background:#aaa;
	transition: .5s;
}
.animatespan{
	width: 30px;
	height: 3px;
	background:#aaa;
	transition: .5s;
	transform-origin: center;
}
.animatespanw{
transform: rotate(45deg);
}
.animatespan2{
	width: 30px;
	height: 3px;
	background:#aaa;
	transition: .5s;
	transform-origin: center;
}
.animatespan2w{
transform: rotate(-45deg);
}
.git{
	display: block;
	color: white;
	text-decoration: none;
	color: #aaa;
	margin-top: 17px;
	font-size: 16px;
	letter-spacing: 0.5px;
	margin-right: 20px;
	font-family: sans-serif;
	font-weight: bold;
}
.first h1{
	width: 100px;
}
}
@media (max-width: 575.98px){
	.second{
		height: 55vh;
	}
	.second img{
		margin-left: 0px;
		margin-right: 0px;
	}
	.first h1{
		margin-left: 0px;
		width: 94px;
	}
	.first{
		height: 42px;
	}
	.first h1{
		font-size: 20px;
	}
	.second .text{
		margin-top: 0px;
	}
	.toggle{
	padding: 16px 13px;
	}
	.toggle .span{
		width: 20px;
		height: 2px;
	}
	.git{
		margin-top: 12px;
	}
}