body
{
	margin: 0px;
}
.first h1{
	color:white;
	font-weight: 1;
	margin-top: 0px;
	margin-left: 40px;
	font-size: 24px;
	padding-top: 9px;
	font-family: 'Courgette', cursive;
	width: 30px;

}
.first ul{
	display: flex;
	list-style-type: none;
	margin-left: 50px;
}
.first ul li{
	color: white;
	margin-left: 35px;
	font-size: 15px;
	font-family: sans-serif;
	color: #999;
	font-weight: bold;
}
.first
{
	background: #000;
	height: 8vh;
	width: 100%;
	display: flex;
}
.p1
{
	font-size: 18px;
	color: #757575 ;
	display: inline-flex;
    padding-left: 585px;
}
.second{
	background:#E9E6DF;/* #FFD292;*/
	height: 59vh;
	display: flex;
	padding-top: 40px;
	padding-left: 140px;
	padding-right: 140px;
}
.second h1{
	font-family: sans-serif;
	color: #d1553b;
	margin-top: 10%;
	font-size:3rem;
	line-height: 1;
	font-weight: bold;
	letter-spacing: -1.0px;
	margin-bottom: 0px;
}
.second p{
	color:#887a5d;
	font-size: 1.25rem;
	vertical-align: baseline;
	font-family: sans-serif;
	margin-bottom: 30px;
	margin-top: 10px;
}
.second img{
	height:230px;
	width:230px;
	float: right;
	margin-top: 3vh;
	margin-right: 40px;
	margin-left: 20px;
	border-radius: 130px;
	border: 5px solid #99999991;
}
.second .text{
	width:60%;
}
.second .text a{
	text-decoration: none;
	color: white;
	background: #ea4c89;
	padding: 10px 15px 11px;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 16px;
	/*font-weight: 200;*/
	letter-spacing: 0.02em;
}

.toggle,.git{
	display: none;
}
.toggleul{
	background: black;
	color: black;
	margin: 0px;
	padding: 0px;
	transition: .5s;
	list-style-type: none;
	overflow: hidden;
	height: 0px;
}
.toggle2{
height: 130px;
padding: 30px;
color: white;
}

.toggleul li{
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-family: sans-serif;
	font-size: 18px;
	letter-spacing: 1.5px;
}
.bar{
	display: flex;
	font-family: sans-serif;
	padding: 20px 50px;
	justify-content: space-between;
	border-bottom: 1px solid #BCBABA;
}
.bar .btn1,.btn2{
border:.5px solid #BDBDBD;
font-size: 15px;
padding: 10px 15px;
border-radius: 5px;
margin-right: 10px;
}
.btn1 p ,.btn2 p{
	margin-top: 0px;
	margin-bottom: 0px;
}
.icon1{
	display: flex;
}
.btn1,.btn2{
	display: flex;
}
.icon1{
	margin-top: 9px;
	margin-left: 15px;
}
.icon1 .l1,.icon1 .l2{
	height: 2px;
	width: 10px;
	background: #707070;
}
.icon1 .l1{
	transform-origin: top-left;
	transform: rotate(35deg);
}
.icon1 .l2{
	transform-origin: top-right;
	transform: rotate(-35deg);
	position: relative;
	right: 3px;
}
.icon2{
	margin-right: 11px;
	margin-top: 3px;
}
.icon2 .l1,.icon2 .l2,.icon2 .l3{
	background:#707070;
	height: 2.4px;
	width: 20px;
	margin-bottom: 2px;
	border-radius: 45px;
}
.icon2 .l2{
	width: 15px;
	margin-left: 2px;
}
.icon2 .l3{
	width: 10px;
	margin-left: 4.5px;
}
.box1,.box2,.box3,.box4{
	height: 10px;
	width: 10px;
	background: #BDBDBD;
}
.box1,.box2,.box3,.box4{
	display: inline-block;
	position: relative;
}
.box3,.box4{
	bottom:2px;
}
.box1,.box2{
	top:4px;
}
.box2,.box4{
	right: 2px;
}
.rightcover{
	display: flex;
}
.cards{
	background: #F4F4F5;
	display: flex;
	padding: 30px;
}
.card{
	width: 30%;
	background: white;
	margin-right: 3%;
	height: 430px;
	border-radius: 6px;
}
.card h3{
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
}
.card .main{
	padding: 10px 20px;
}
.card .main h3{
	margin-bottom: 0px;
}
.card .main p{
	margin-top: 8px;
}
.card1 .img,.card2 .img,.card3 .img{
	width: 100%;
	height: 230px;
	border-radius: 6px 6px 0px 0px;
}
.card1 .img1{
	background: url("images/Mobile-App-vs-Mobile-Web-Feature.png");
	background-size: 244%;
    background-position: -350px;
}

.card2 .img2{
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card3 .img3{
	background-size: 100%;
background: url("images/img3.jpg");
	background-position: -10px -42px;
}
.img2 .u{
	color: white;
	border:13px solid white;
	font-weight: bold;
	font-family: arial;
	border-radius: 85px;
	margin-right: 30px;
	height: 85px;
	width: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.u p{
	font-weight: bold;
	font-size: 55px;
}
.img2 .i{
	color: white;
	border:10px solid white;
	font-size: 55px;
	font-weight: bold;
	font-style: bold;
	font-family: arial;
	padding: 10px;
	width: 57px;
	text-align: center;
}

.midtext{
	font-size: 20px;
	letter-spacing: .5px;
	font-family: sans-serif;
	color: #04392A;
	text-align: center;
	padding: 15px 30px;
}
.main p{
	font-family: arial;
	font-style: italic;
	color: #828282;
	font-size: 17px;
}
.icons{
	display: flex;
	height: 40px;
	justify-content: space-between;
}
.icons .preview{
	border: 2px solid #A7A7A7;
	padding: 8px 8px;
	text-decoration: none;
	color: #464646;
	font-family: arial;
	font-weight: bold;
	border-radius: 3px;
}
.icons .giticon{
	border:2px solid #79B530;
	padding: 5px;
	margin-left: 10px;
	border-radius: 3px;
}
.icons .icon1{
	width: 22px;
	margin-left: 0px;
	margin-right: 6px;
}
.icons .icon2{
	width: 40px;
	position: relative;
	top: 3px;
}
.icons .icon3{
	width: 25px;
}
.iconcover1,.iconcover2{
	display: flex;
}
.showmore{
	margin-top: 20px;
	font-family: arial;
	font-weight: bold;
	color: #7E7E7E;
}
.does{
	background:#F4F4F5;
	justify-content: center;
	padding: 50px 80px 50px 120px;
}
.h1cover{
	widows: 100vw;
}
.does h1{
	margin: 0px;
	text-align: center;
	background:#c35943;
	width: 500px;
	height: 41px;
	color: white;
	font-family: arial;
	font-weight: bold;
	padding: 10px;
	margin-left: 20%;
	margin-bottom: 50px;
	    letter-spacing: 1px;
    word-spacing: 6px;
}
.content{
	display: flex;
	padding: 0px 0px 0px 80px;
}
.content img{
	height: 214px;
	margin-right: 50px;
} 
.content .text{
	font-size: 20px;
	font-family: sans-serif;
	color: #887a7f;
	width: 550px;
	margin-top: 50px;
}
.contactme{
	padding:50px;
	padding-top: 70px;
	height: 100vh;
	background:#F4F4F5;
}
.contactme img{
	width: 30px;
	height: 30px;
}
.contactme h1{
	    font-family: sans-serif;
    color: black;
    margin-top: 0px;
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -1.0px;
    margin-bottom: 0px;
    text-align: center;
}
.cont1,.cont2{
	text-decoration: none;
    color: white;
    padding: 10px 15px 11px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    width: 90px;
    display: flex;
    height: 20px;
}
.contactme p{
	margin-top: 0px;
}
.cont1{
	margin-bottom: 20px;
	background:#d54738;
}
.cont2{
	background:#75b73b;
}
@media (max-width: 1125px){
.does h1{
	margin-left: 20%;
}
.card1 .img1{
	background-size: 267%;
	background-position: -350px;
}
@media(max-width: 1044px){
	.card1 .img1{
	background-size: 313%;
	background-position: -400px;
}
}
@media (max-width: 880px){
	.does h1{
	margin-left: 10%;
}
.cards{
	padding-top: 50px;
	padding-left: 22%;
}
.card1 .img1{
	background-size: 213%;
	background-position: -400px;
}
.card{
	width: 70%;
	margin-right: 0px;
	margin-bottom: 50px;
}
.cards{
	flex-direction: column;
}
.bar{
	padding: 20px 30px;
}
.first ul{
	display: none;
}
.first {
	justify-content: space-between;
}
.second{
	flex-direction: column-reverse;
	padding: 0px 10%;
	padding-top: 10%;
	height: 70vh;
}
.second img{
	height:200px;
	width:200px;
}
.second .text{
	width: 100%;
	text-align: center;
}
.imgcover{
	display: flex;
	justify-content: space-around;
}
.second .text h1{
	font-size: 1.5rem;
}
.second .text p{
	font-size: 1rem;
}
.acover{
	height: 70px;
}
.toggle{
	padding: 17px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.toggle .span{
	width: 30px;
	height: 3px;
	background:#aaa;
	transition: .5s;
}
.animatespan{
	width: 30px;
	height: 3px;
	background:#aaa;
	transition: .5s;
	transform-origin: center;
}
.animatespanw{
transform: rotate(45deg);
}
.animatespan2{
	width: 30px;
	height: 3px;
	background:#aaa;
	transition: .5s;
	transform-origin: center;
}
.animatespan2w{
transform: rotate(-45deg);
}
.git{
	display: block;
	color: white;
	text-decoration: none;
	color: #aaa;
	margin-top: 17px;
	font-size: 16px;
	letter-spacing: 0.5px;
	margin-right: 20px;
	font-family: sans-serif;
	font-weight: bold;
}
.first h1{
	width: 100px;
}
}

@media (max-width: 745px){
	.does h1{
	margin-left: 5%;
	width: 90%;
	font-size: 30px;
	padding: 10px;
}
.does .content{
	padding-left: 0px;
	padding-right: 0px;
	flex-direction: column;
}
.does .content img{
	height: 180px;
	margin-right: 0px;
}
.does .content .text{
	width: 100%;
}
	.card1 .img1{
	background-size: 270%;
	background-position: -400px;
}
}
@media (max-width: 670px){
.does h1{
	font-size: 24px;
}
}
@media (max-width: 575.98px){
	.does {
		padding:0px 20px;
	}
	.does  h1{
		width: 90%;
		font-size: 22px;
		height: 30px;
		margin-bottom: 30px;
		margin-left: 5px;
	}
	.does .content img {
		height: 160px;
	}
	.does .content .text{
		width:85%;
		margin-left: 7%;
		margin-top: 30px;
	}
	.card1 .img1{
	background-size: 260%;
	background-position: -360px;
}
	.cards{
	padding-top: 50px;
	padding-left: 7%;
}
.card{
	width: 100%;
	margin-right: 0px;
	margin-bottom: 50px;
}
	.midtext{
	font-size: 17px;
	letter-spacing: 0px;
	}
	.bar{
	padding: 20px 15px;
	}
	.second{
		height: 55vh;
	}
	.second img{
		margin-left: 0px;
		margin-right: 0px;
	}
	.first h1{
		margin-left: 0px;
		width: 94px;
	}
	.first{
		height: 42px;
	}
	.first h1{
		font-size: 20px;
	}
	.second .text{
		margin-top: 0px;
	}
	.toggle{
	padding: 16px 13px;
	}
	.toggle .span{
		width: 20px;
		height: 2px;
	}
	.git{
		margin-top: 12px;
	}
}
@media (max-width: 325px){
	.card1 .img1{
	background-size: 300%;
	background-position: -350px;
}
}